@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
	vertical-align: top;
	padding: 15px;
	display: inline-block;
	width: 60%;
}

.album-art {
	border: 5px solid red;
	padding: 15px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 5px double red;
	padding: 15px;
	width: 200px;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {
	vertical-align: top;
	padding: 40px;
	display: inline-block;
	width: 60%;
	padding-left: 300px;
	margin-top: -250px;
	list-style: square;
}

#about-photo {
	display: inline-block;
    margin-right: 10px;
    width: auto;
	border: 5px double red;
	padding: 15px;
}

#copyright {
	color: red;
}

#section-about, #section-discography, #section-equipment {
	border: 1px red solid;
	padding: 15px;
	margin: 20px 10px;
}

#text-intro {
	color: red;
	border: 3px solid;
	background-color: rgb(18, 54, 54);
	padding: 10px;
	margin: 15px;
	width: 1340px;
}

/*If the Notable Songs element had a specific tag/class/ID I could actually do this but Ive been at this too long to find another solution*/